# Zorg voor consistente regelafscheidingen (LF)
* text=auto

# Forceer LF voor broncodebestanden
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.md text eol=lf 